<div class="shop-product">
    <!-- Breadcrumbs v5 -->
    <div class="container">
        <ul class="breadcrumb-v5">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Products</a></li>
            <li class="active">New</li>
        </ul>
    </div>
    <!-- End Breadcrumbs v5 -->

    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-50">
                <div class="ms-showcase2-template" style="position: relative;">
                    <!-- Master Slider -->
                    <div class="master-slider ms-skin-default ms-moz" id="masterslider" style="visibility: visible; opacity: 1; margin: 0px;"><div class="ms-container"><div class="ms-inner-controls-cont" style="max-width: 550px;"><div class="ms-view ms-fade-view ms-grab-cursor" style="width: 550px; height: 550px;"><div class="ms-slide-container"><div class="ms-slide ms-sl-selected" style="width: 550px; height: 550px; opacity: 1;">
                            
                            
                        <div class="ms-slide-bgcont" style="height: 100%; opacity: 1;"><img class="ms-brd" src="assets/img/blog/28.jpg" alt="lorem ipsum dolor sit" style="width: 550px; height: 560px; margin-top: -5px; margin-left: 0px;"></div></div><div class="ms-slide" style="width: 550px; height: 550px; margin-top: 0.1px; opacity: 0; visibility: hidden;">
                            
                            
                        <div class="ms-slide-bgcont" style="height: 100%; opacity: 1;"><img src="assets/img/blog/29.jpg" alt="lorem ipsum dolor sit" style="width: 550px; height: 560px; margin-top: -5px; margin-left: 0px;"></div></div><div class="ms-slide" style="width: 550px; height: 550px; margin-top: 0.1px; opacity: 0; visibility: hidden;">
                            
                            
                        <div class="ms-slide-bgcont" style="height: 100%; opacity: 1;"><img src="assets/img/blog/30.jpg" alt="lorem ipsum dolor sit" style="width: 550px; height: 560px; margin-top: -5px; margin-left: 0px;"></div></div></div></div><div class="ms-nav-next ms-ctrl-hide" style="opacity: 0;"></div><div class="ms-nav-prev ms-ctrl-hide" style="opacity: 0;"></div></div></div>
                        
                        
                        
                    <div class="ms-thumb-list ms-dir-h ms-align-bottom" style="margin-top: 5px; position: relative; height: 170px;"><div class="ms-thumbs-cont" style="width: 555px;"><div class="ms-thumb-frame ms-thumb-frame-selected" style="width: 180px; height: 170px; margin-right: 5px;"><img class="ms-thumb" src="assets/img/blog/28-thumb.jpg" alt="thumb"><div class="ms-thumb-ol"></div></div><div class="ms-thumb-frame" style="width: 180px; height: 170px; margin-right: 5px;"><img class="ms-thumb" src="assets/img/blog/29-thumb.jpg" alt="thumb"><div class="ms-thumb-ol"></div></div><div class="ms-thumb-frame" style="width: 180px; height: 170px; margin-right: 5px;"><img class="ms-thumb" src="assets/img/blog/30-thumb.jpg" alt="thumb"><div class="ms-thumb-ol"></div></div></div></div></div>
                    <!-- End Master Slider -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="shop-product-heading">
                    <h2>Corinna Foley</h2>
                    <ul class="list-inline shop-product-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div><!--/end shop product social-->

                <ul class="list-inline product-ratings margin-bottom-30">
                    <li><i class="rating-selected fa fa-star"></i></li>
                    <li><i class="rating-selected fa fa-star"></i></li>
                    <li><i class="rating-selected fa fa-star"></i></li>
                    <li><i class="rating fa fa-star"></i></li>
                    <li><i class="rating fa fa-star"></i></li>
                    <li class="product-review-list">
                        <span>(1) <a href="#">Review</a> | <a href="#"> Add Review</a></span>
                    </li>
                </ul><!--/end shop product ratings-->

                <p>Integer <strong>dapibus ut elit</strong> non volutpat. Integer auctor purus a lectus suscipit fermentum. Vivamus lobortis nec erat consectetur elementum.</p><br>

                <ul class="list-inline shop-product-prices margin-bottom-30">
                    <li class="shop-red">$57.00</li>
                    <li class="line-through">$70.00</li>
                    <li><small class="shop-bg-red time-day-left">4 days left</small></li>
                </ul><!--/end shop product prices-->

                <h3 class="shop-product-title">Size</h3>
                <ul class="list-inline product-size margin-bottom-30">
                    <li>
                        <input id="size-1" name="size" type="radio">
                        <label for="size-1">S</label>
                    </li>
                    <li>
                        <input id="size-2" name="size" type="radio">
                        <label for="size-2">M</label>
                    </li>
                    <li>
                        <input id="size-3" name="size" checked="" type="radio">
                        <label for="size-3">L</label>
                    </li>
                    <li>
                        <input id="size-4" name="size" type="radio">
                        <label for="size-4">XL</label>
                    </li>
                </ul><!--/end product size-->

                <h3 class="shop-product-title">Color</h3>
                <ul class="list-inline product-color margin-bottom-30">
                    <li>
                        <input id="color-1" name="color" type="radio">
                        <label class="color-one" for="color-1"></label>
                    </li>
                    <li>
                        <input id="color-2" name="color" checked="" type="radio">
                        <label class="color-two" for="color-2"></label>
                    </li>
                    <li>
                        <input id="color-3" name="color" type="radio">
                        <label class="color-three" for="color-3"></label>
                    </li>
                </ul><!--/end product color-->

                <h3 class="shop-product-title">Quantity</h3>
                <div class="margin-bottom-40">
                    <form name="f1" class="product-quantity sm-margin-bottom-20">
                        <button type="button" class="quantity-button" name="subtract" onclick="javascript: subtractQty();" value="-">-</button>
                        <input class="quantity-field" name="qty" value="1" id="qty" type="text">
                        <button type="button" class="quantity-button" name="add" onclick="javascript: document.getElementById(&quot;qty&quot;).value++;" value="+">+</button>
                    </form>
                    <button type="button" class="btn-u btn-u-sea-shop btn-u-lg">Add to Cart</button>
                </div><!--/end product quantity-->

                <ul class="list-inline add-to-wishlist add-to-wishlist-brd">
                    <li class="wishlist-in">
                        <i class="fa fa-heart"></i>
                        <a href="#">Add to Wishlist</a>
                    </li>
                    <li class="compare-in">
                        <i class="fa fa-exchange"></i>
                        <a href="#">Add to Compare</a>
                    </li>
                </ul>
                <p class="wishlist-category"><strong>Categories:</strong> <a href="#">Clothing,</a> <a href="#">Shoes</a></p>
            </div>
        </div><!--/end row-->
    </div>
</div>

<script>
    MasterSliderShowcase2.initMasterSliderShowcase2();
</script>